body > * {min-width: 1850px;}
/* ===================================Header 시작 */
.eventHeader {width: 100%; height: 35px; background: #DEB6EA; text-align: center;}
.eventHeader p {font-size: 0.88rem; color: #F2F2F2; line-height: 35px;}
.eventHeader p span {color: #F2F2F2; font-weight: ;}
header {position: fixed; top: 35px; left: 0; width: 100%; height: 80px; z-index: 100;  background: #f9f9f9; display: flex; justify-content: space-between; align-items: center; padding: 0 60px;}
header.fix{position: fixed; top: 0; left: 0;}
header .logo {}
header .logo a {display: block; }
header .logo a img {width: 100%; height: auto;}
header nav {text-align: left; /* width: max-content; */}
header nav .gnb {display: flex;}
header nav .gnb > li {margin-left: 53px; }
header nav .gnb > li:nth-child(1) a {color: #D983F2;}
header nav .gnb > li:hover a {font-weight: 600; transition: all 0.5s;}
header nav .gnb > li:nth-child(1) {margin: 0;}
header nav .gnb > li a {}
.sub {display: none;}
header .lnb {display: flex;}
header .lnb li {margin-left: 25px;}
header .lnb li:nth-child(1) {margin: 0;}
/* ===================================main  시작 */
main {padding-top: 80px;}/* 헤더 높이 */
main .banner {display: flex; margin-bottom: 250px;}
main .banner a {display: block; width: 960px;}
main .banner a img {width: 100%;}
/* ===================================topBtn 시작 */
#topBtn{display: block; width: 40px; height: 40px; border-radius: 100%; background-color: rgba(0, 0, 0, 0.5); color: #f2f2f2;
  text-align: center; line-height: 40px; position: fixed; right: 60px; bottom: 30px;}
/* ===================================Footer 시작 */
footer {border-top: 1px solid #414141;}
footer .footerTop {padding: 100px 200px; display: flex; justify-content: space-between; align-items: end;}
footer .footerTop .topLeft {}
footer .footerTop .topLeft h3 {color: #414141; font-size: 1.25rem;}
footer .footerTop .topLeft h2 {color: #414141; font-size: 1.63rem; margin: 17px 0;}
footer .footerTop .topLeft .infor {color: #414141; font-size: 0.88rem; line-height: 25px;}
footer .footerTop .topLeft .infor span {color: #868686; font-size: 0.88rem;}
footer .footerTop .topLeft .button {display: flex;}
footer .footerTop .topLeft .button a {width: 114px; height: 35px; color: #414141; font-size: 0.88rem; line-height: 35px; border: 1px solid #868686; text-align: center; margin-right: 17px; margin-top: 17px; transition: all 0.5s; cursor: pointer;}
footer .footerTop .topLeft .button a:hover {color: #f2f2f2; background-color: #868686;}
footer .footerTop .topRight {width: 500px;}
footer .footerTop .topRight div {}
footer .footerTop .topRight div a {color: #414141;}
footer .footerTop .topRight div a:nth-child(2) {color: #262626; font-weight: 500;}
footer .footerTop .topRight div a::after {content: '/'; margin-left: 7px;}
footer .footerTop .topRight div a:last-child::after {content: '';}
footer .footerTop .topRight .button {width: 114px; height: 35px; color: #414141; font-size: 0.88rem; line-height: 35px; border: 1px solid #868686; text-align: center; margin-right: 17px; margin-top: 17px; transition: all 0.5s; cursor: pointer;}
footer .footerBottom {display: flex; justify-content: space-between; align-items: center;}
footer .footerBottom .footerLogo {}
footer .footerBottom ul {display: flex;}
footer .footerBottom ul li {font-size: 0.88rem; color: #414141; margin-left: 15px;}
footer .footerBottom ul li a {font-size: 0.75rem; color: #414141; cursor: pointer;}
footer .footerBottom ul li a:hover {font-weight: 500;}
footer .footerBottom ul li:first-child {margin-left: 0;}
footer .footerBottom >p {font-size: 0.88rem; color: #414141;}





footer .footerBottom {padding: 0 200px; background: #f2f2f2; height: 60px;}